form{display: none;}
.delete{
    background-color: red;
    height: 20px;
    width: 20px;
    padding: 5px;
}
.details{height: 20px;
    width: 20px;
    background-color: yellow;
    padding: 5px;

}
.update{height: 20px;
    width: 20px;
    background-color: blue;
    padding: 5px;

}